@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  color: #fff;
  background-color: #18181b;
  font-family: Arial, Helvetica, sans-serif;
  @apply w-full h-full;
}
button {
  cursor: pointer;
}
.bg_image_4pugs {
  background-image: url("./_assets/images/pugSad.png");
  background-size: cover;
}
input {
  outline: none;
}
