@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  color: #fff;
  background-color: #18181b;
  font-family: Arial, Helvetica, sans-serif;
  @apply h-full w-full;
  scrollbar-color: #ec4899 #18181b;
}
button {
  cursor: pointer;
}
.bg_image_pug_sad {
  background-image: url("./_assets/images/pugSad.png");
  background-size: cover;
}
.bg_image_4pugs {
  background-image: linear-gradient(
      to left,
      rgba(10, 10, 10, 0.5),
      rgba(10, 10, 10, 0.9)
    ),
    url("./_assets/images/4pugs.png");
  background-repeat: repeat;
  background-size: 50rem;
}

input {
  outline: none;
}
.customScrollbar {
  scrollbar-color: #ec4899 #18181b;
}
.outline-none {
  outline-style: none;
}

.clientList li {
  @apply mb-1 flex items-center justify-between rounded-md bg-neutral-950 px-3 py-2;
}
.clientList li span:first-child {
  @apply flex items-center justify-center text-[13px];
}
.clientList li span:last-child {
  @apply font-semibold;
}
.clientList button:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}
.flexRowsCenter {
  display: flex;
  align-items: center;
}
.gradientBg {
  background: linear-gradient(
    to top,
    #171717,
    rgb(23, 23, 23, 0.3),
    rgb(23, 23, 23, 0.3)
  );
}
